:root {
	--blue: #0008b1;
	--gold: #ffc500;
	--blueVariant: #0008b185;
}

* {
	/*border: 1px solid black;*/
}

.bg-dark {
	/*#08143c */
    background-color: var(--blue) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--gold) !important;
}

.padd {
	padding: 20px;
}

.color-white {
	background-color: white;
}

.white {
	color: white;
}

.color-blue {
	color: #08143c;
}

.gold {
	/*#ffd863*/
	color: var(--gold) !important;
}

.curved-border {
	border-radius: 10px;
}

section.heading {
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: contain;
}

section.speakers, section.testimonies {
	background-color: #F6F6F5;
}

section.contact {
	/*08143c*/
	background-color: var(--blue);
	color: white;
}

div.img {
	margin-bottom: 10px;
}

footer {
	/*#343a40*/
	background-color: #000;
	color: white;
}

.speaker-detail {
	background-color: white;
}

.seventy-height {
	display: flex;
	align-items: center;
	height: 70vh;
}

.eighty-height {
	display: flex;
	align-items: center;
	min-height: 70vh;
}

.flex-hr-center {
	display: flex;
	align-items: center;
}

.f-direction-column {
	display: flex;
	flex-flow: column;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin', sans-serif;
}

.small-text { font-size: .85em; }

.no-margin {margin: 0;}
.no-padding {margin: 0;}

span.color-theme {
	/*4353ff*/
	background-color: var(--blue);
	color: white;
	padding: 5px 25px;
	border-radius: 20px;
}

div.color-theme { background-color: var(--blue); color: white; padding-top: 10px; padding-bottom: 10px;}

.color-h3 {color: #605F5FFF;}
.btn {
	background-color: var(--blue);
	color: white;
	border-radius: 0px;
	/*letter-spacing: .1em;*/
}

p {
	font-family: 'Open Sans', sans-serif;
}

.break {
	width: 80%;
}

.shadow {
	z-index: 9999999;
	-webkit-box-shadow: -1px -1px 5px 2px rgba(0,0,0,0.22);
	-moz-box-shadow: -1px -1px 5px 2px rgba(0,0,0,0.22);
	box-shadow: -1px -1px 5px 2px rgba(0,0,0,0.22);
	background-color: #f3efef6e;
}

.event-schedule-summary, .media-details {
	border-radius: 10px;
	margin-top: -40px;
}

.square-img {
	height: 200px;
	overflow: hidden;
}

.btn {
	padding-left: 10px;
	padding-right: 10px;
}

#map {
  border: 20px solid #20253ffa;
}

#clockdiv{
	font-family: 'Cabin', sans-serif;
	color: #fff;
	font-weight: 60;
	text-align: center;
	font-size: 20px;
}

#clockdiv > div{
	padding: 5px;
	border-radius: 3px;
	background: var(--blueVariant);
}

#clockdiv div > span{
	padding: 10px;
	border-radius: 3px;
	background: var(--blue);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.spaced {
	display: flex;
	justify-content: space-between;
}